* {
  font-family: "Roboto", sans-serif;
  color: white;
}

.footer,
.all_in,
.gallery,
.makeR {
  width: 100%;
  height: auto;
  background-color: #1b1b1b;
}

.header {
  height: 100vh;
  max-width: 100%;
  background-image: url("photos/bg.png");
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main {
  height: 350px;
}
.ph {
  height: 100vh;
  max-width: 100%;
  background-image: url("photos/bgLittle.png");
  background-position: center;
  background-size: cover;
  position: relative;
}
ul {
  display: flex;
  align-items: center;
}
li {
  list-style: none;
  margin: 0 10px;
}
.main h5 {
  letter-spacing: 3px;
  font-size: 24px !important;
  line-height: 28px !important;
  padding-bottom: 25px;
}
.main h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 3px;
}
.main p {
  font-size: 18px;
  margin-top: 26px;
  line-height: 30px;
  margin-bottom: 48px;
  opacity: 0.7;
}
.main a,
.contact {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  padding: 18px 40px;
  color: #272142;
  background-color: white;
  text-decoration: none;
  border-radius: 50px;
  font-size: 14px;
}

.photos {
  padding: 70px 70px 0;
}
.photos img {
  margin: 20px 0;

  object-fit: cover !important;
  object-position: center;
}
.down {
  background-color: #282323;
}
.down i {
  font-size: 26px;
  margin: 0 20px;
}
.down p {
  opacity: 0.7;
  font-size: 13px;
}
@media (max-width: 590px) {
  .nav h4 {
    display: none;
  }
  .main h1 {
    font-size: 50px;
  }
  .photos .row {
    justify-content: center;
  }
}
@media (max-width: 770px) {
  .photos .col-md-4,
  .photos .col-md-3 {
    display: flex;
    justify-content: center;
  }
}
.mainAbout h4 {
  color: #f65282;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  padding-bottom: 32px;
}
.mainAbout h1 {
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 2px;
}
.mainAbout p {
  padding-top: 30px;
  padding-bottom: 50px;
  font-size: 18px;
  max-width: 560px;
  line-height: 30px;
}
.brands i {
  padding: 0 30px 65px 0;
  font-size: 16px;
}
.mainAbout h5 {
  font-size: 18px;
}
.mainAbout h5 img {
  padding-right: 30px;
}
.camera {
  max-width: 450px;
  padding: 25px 20px;
  background-color: #2d2727;
  margin-bottom: 64px;
}
.active,
a:hover {
  text-decoration: none;
  color: #f65282 !important;
  transition: 0.7s;
}
a {
  color: white !important;
  text-decoration: none !important;
}
.contact {
  color: #272142 !important;
}
.galleryHeader {
  text-align: center;
  font-size: 72px;
  letter-spacing: 5px;
  font-weight: 700;
}
.contactMe {
  text-align: center;
}
.contactMe h5 {
  padding-top: 40px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #f65282;
}
.contactMe p {
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
}
